nav {
  position: absolute;
  top: 0;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  /* border: solid 1px red; */
}

.nav__logo {
  position: relative;
  top: 20px;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  height: 85px;
  width: 85px;
  background: #000000;
  color: #ffffff;
  padding: 5px 5px 5px 10px;
}

.nav__logo h1 {
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  flex-direction: row;
  margin-right: 5vh;
}

.nav__menu ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav__menu li {
  margin: 0 20px;
  list-style: none;
}

.nav__menu a {
  color: #000000;
  text-decoration: none;
}

.nav__menu a:hover {
  color: #000000;
  text-decoration: none;
}

.nav__hamburger {
  display: none;
  flex-direction: column;
  align-self: center;
  align-items: flex-end;
  justify-content: center;
  opacity: 1;
  padding-right: 5px;
}

.nav__close {
  padding: 30px;
}

.nav__ham1,
.nav__ham2,
.nav__ham3 {
  width: 30px;
  height: 3px;
  background-color: var(--text-color);
  margin: 3px 0;
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0, 1.26);
  transform: rotate(0deg);
}
.nav__ham1 {
  width: 35px;
}

.nav__ham2 {
  width: 25px;
}

.nav__close {
  display: none;
  position: absolute;
  right: 0px;
  padding: 30px;
}

@media all and (max-width: 680px) {
  nav {
    margin-bottom: 0;
  }

  .nav__logo {
    top: 10px;
  }

  .nav__hamburger {
    display: flex;
    position: fixed;
    right: 0;
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0, 1.26);
    z-index: 1000;
  }

  .nav--open .nav__ham1 {
    margin: 0;
    transform-origin: top;
    transform: rotate(-45deg);
  }

  .nav--open .nav__ham2 {
    height: 0;
  }

  .nav--open .nav__ham3 {
    margin: 0;
    transform-origin: top;
    transform: rotate(45deg);
  }

  .nav__menu {
    position: absolute;
    margin: 0;
    top: 85px;
    /* right: -100vh; */
    display: flex;
    /* height: calc(100vh - 85px); */
    height: 0;
    width: calc(100vw - 50px);
    position: fixed;
    background: var(--main-bg-color);
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0, 1.26);
  }

  .nav--open .nav__menu {
    /* right: calc(0vw + 50px); */
    height: calc(100vh - 85px);
  }

  .nav__menu ul {
    display: flex;
    margin: 0;
    flex-direction: column;
    margin-left: 5vw;
    display: flex;
    width: 85px;
    background: #000000;
    padding: 0;
  }

  .nav--open ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 100px;
  }

  .nav__menu li {
    margin: 0;
    position: relative;
    left: -100vw;
    width: 85px;
    color: #ffffff;
    opacity: 0;
    padding: 20px 0 20px 0;
    text-transform: uppercase;
    transition: left 0.4s cubic-bezier(0.25, 0.1, 0, 1.26);
  }

  .nav--open li {
    /* right: calc(0vw + 50px); */
    left: 90px;
    opacity: 1;
  }
  .nav__menu li a {
    color: #000000;
  }
}
