nav {
  position: absolute;
  top: 0;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  /* border: solid 1px red; */
}

nav .nav__logo {
  position: relative;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  height: 85px;
  width: 85px;
  background: #000000;
  color: #ffffff;
  padding: 5px 6px 5px 10px;
}
nav .nav__logo h1 {
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
}

nav .nav__menu {
  display: flex;
  flex-direction: row;
  margin-right: 5vh;
}

nav .nav__menu ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .nav__menu li {
  margin: 0 20px;
  list-style: none;
}

nav .nav__menu a {
  color: #000000;
  text-decoration: none;
}

nav .nav__menu a:hover {
  color: #000000;
  text-decoration: none;
}

.nav__hamburger {
  display: none;
  flex-direction: column;
  align-self: center;
  align-items: flex-end;
  justify-content: center;
  transition: all 0.4s cubic-bezier(0.25, 0.1, 0, 1.26);
  opacity: 1;
  padding-right: 20px;
}

.nav__close {
  padding: 30px;
}

.nav__ham1,
.nav__ham2,
.nav__ham3 {
  width: 35px;
  height: 5px;
  background-color: var(--action-color);
  margin: 3px 0;
  border-radius: 0 5px 0 5px;
}
.nav__ham1 {
  width: 40px;
}

.nav__ham2 {
  width: 30px;
}

.nav__x1,
.nav__x2 {
  height: 5px;
  background-color: var(--action-color);
  margin: 3px 0;
  border-radius: 0 5px 0 5px;
  transition: all 400ms ease 400ms;
  animation-delay: 1s;
}

.nav__x1 {
  width: 40px;
}
.nav__x2 {
  width: 35px;
}

.nav--open .nav__x1 {
  transform: rotate(45deg);
}

.nav--open .nav__x2 {
  transform: rotate(-45deg);
}

.nav__close {
  display: none;
  position: absolute;
  right: 0px;
  padding: 30px;
}

@media all and (max-width: 680px) {
  nav {
    margin-bottom: 0;
  }
  .nav__menu {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    position: fixed;
    right: -100vw;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0, 1.26);
  }

  .nav__right {
    align-items: center;
    justify-content: flex-end;
  }

  .nav__title h2 {
    display: block;
  }
  .nav__right h2 {
    display: none;
  }

  .nav__hamburger {
    display: flex;
    position: fixed;
    z-index: 1000;
  }

  .nav--open .nav__hamburger {
    transform: translateX(-100vw);
    opacity: 0;
  }

  .nav__close {
    display: block;
  }

  .nav--open .nav__menu {
    right: 0vw;
  }

  .nav__menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 100px;
  }

  .nav--open .nav__menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 100px;
  }

  .nav__menu li {
    padding: 20px;
  }
}
