:root {
  --main-red-color: #d0221b;

  --main-bg-color: #f3c130;
  --content-bg-color: #f8f8f8;
  --text-color: #000000;
  --action-color: #d0221b;
  --contrast-color: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px;
}

.site-wrapper {
  margin: 50px;
}

@media all and (max-width: 680px) {
  .site-wrapper {
    margin: 0;
    margin-right: 50px;
  }
}
